<div class="info">
  <p class="title">Як знайти та купити авто в Швеції</p>
  <div class="bigInfoBox d-flex justify-content-center">
    <div class="infoBox">
      <div class="card">
        <img src="https://firebasestorage.googleapis.com/v0/b/cars-from-sweden.appspot.com/o/images%2F1581423889145_zayavka.png?alt=media&token=fbf6b642-1532-492d-8de6-62644699310b" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-danger">Заповнити заявку</h5>
          <p class="card-text">Для того, щоб замовити підбір та огляд автомобіля в нашій компанії заповніть, будь ласка,
            заявку на сторінці <a class="text-danger" href="" routerLink="/zakaz">замовлення</a>. Старайтесь заповнити
            заявку як можна детальніше. Після заповнення заявки з Вами
            зв'яжеться наш менеджер і уточнить всі деталі.</p>
        </div>
      </div>
      <div class="card">
        <img src="https://firebasestorage.googleapis.com/v0/b/cars-from-sweden.appspot.com/o/images%2F1581423889140_inspection.png?alt=media&token=69fd5621-6849-47d9-9a1e-f383bdd6c083" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-danger">Пошук та огляд</h5>
          <p class="card-text">Після прийняття замовлення ми погоджуємо всі деталі по бажаному
            автомобілю. Дальше шукаємо авто і виїжджаємо на огляд погодженого авто. Ви отримуєте повний відео та фото
            звіт з огляду, а також висновок, чи варто купляти дане авто.</p>
        </div>
      </div>
      <div class="card">
        <img src="https://firebasestorage.googleapis.com/v0/b/cars-from-sweden.appspot.com/o/images%2F1581423889154_dogovir.png?alt=media&token=a0bd8eac-1303-4bb8-8c39-e9083461fad4" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-danger">Купівля та Документи</h5>
          <p class="card-text">Після огляду ми допомогаємо Вам здійснити покупку авто в Швеції, а також
            оформляємо всі необхідні документи, номера та страховку. Не переживайте які документи Вам будуть потрібні на
            митниці, тому що ми все підготуємо, а також проконсультуємо по всіх питаннях.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="catalog">
  <div class="catalogBoxFirst d-flex justify-content-center">
    <div class="catalogBoxSecond">
      <div class="newMiddle">
        <p class="middleTitle text-danger">Тепер Ви можете купити вже перевірений автомобіль прямо у нас</p>
        <p class="middleText">Ми шукаємо, перевіряємо та купляємо популярні серед наших клієнтів автомобілі в Швеції,
          щоб
          Ви могли без лишніх затрат часу, сил та грошей купити собі авто. Автомобілі знаходяться у нас і ми
          розкажемо Вам детально всю інформацію про авто.</p>
      </div>
      <div class="carsInfo">
        <img class="left" src="https://firebasestorage.googleapis.com/v0/b/cars-from-sweden.appspot.com/o/images%2F1581423889151_b8.jpg?alt=media&token=12da7147-5e9a-4071-8240-18d974e65cff" alt="">
        <div class="middle">
          <p class="middleTitle text-danger">Тепер Ви можете купити вже перевірений автомобіль прямо у нас</p>
          <p class="middleText">Ми шукаємо, перевіряємо та купляємо популярні серед наших клієнтів автомобілі в Швеції,
            щоб
            Ви могли без лишніх затрат часу, сил та грошей купити собі авто. Автомобілі знаходяться у нас і ми
            розкажемо Вам детально всю інформацію про авто.</p>
        </div>
        <img class="right" src="https://firebasestorage.googleapis.com/v0/b/cars-from-sweden.appspot.com/o/images%2F1581423889148_audi.jpg?alt=media&token=b5eabf90-d2c3-49e6-9d4c-a192ca48c698" alt="">
      </div>
    </div>
  </div>
  <div class="peregliad d-flex">
    <a class="btn btn-danger zakaz" href="" routerLink="/catalog">Переглянути автомобілі в наявності</a>
  </div>
</div>

<div class="benefits">
  <div class="text">
    <p class="bigText">Переваги автомобілів з Швеції</p>
  </div>
  <div class="benefitsBox d-flex justify-content-center">
    <div class="bnBox">
      <div class="leftBox d-flex flex-column">
        <div class="texogliad">
          <img class="imgBox" src="https://firebasestorage.googleapis.com/v0/b/cars-from-sweden.appspot.com/o/images%2F1581423889143_settings.png?alt=media&token=6b94f5c5-835f-4a89-9c13-a52ba0ccbb62" alt="">
          <p class="textBox text-danger">Обов'язковий жосткий щорічний техогляд</p>
        </div>
        <div class="shtraf">
          <img class="imgBox" src="https://firebasestorage.googleapis.com/v0/b/cars-from-sweden.appspot.com/o/images%2F1581423889153_cash.png?alt=media&token=71bc8743-5754-4c2e-9bb5-47a01bb5de83" alt="">
          <p class="textBox text-danger">Штраф за скручування пробігу(як мінімум)</p>
        </div>
        <div class="official">
          <img class="imgBox" src="https://firebasestorage.googleapis.com/v0/b/cars-from-sweden.appspot.com/o/images%2F1581423889141_laptop.png?alt=media&token=9abaee3b-3064-43ac-bbc2-0ad43c83127a" alt="">
          <p class="textBox text-danger">Доступна офіціальна історія автомобіля</p>
        </div>
      </div>
      <div class="rightBox d-flex flex-column">
        <div class="dorogy">
          <img class="imgBox" src="https://firebasestorage.googleapis.com/v0/b/cars-from-sweden.appspot.com/o/images%2F1581423889144_truck.png?alt=media&token=1e4f5f3f-5d82-4d66-aca0-267f63f94d89" alt="">
          <p class="textBox text-danger">Безпечні дороги з обмеженням швидкості</p>
        </div>
        <div class="comlectation">
          <img class="imgBox" src="https://firebasestorage.googleapis.com/v0/b/cars-from-sweden.appspot.com/o/images%2F1581423889142_like.png?alt=media&token=ee0ec78c-a84c-4928-b6fa-dc91684f8b01" alt="">
          <p class="textBox text-danger">Розширена (скандинавська) комплектація</p>
        </div>
        <div class="texobslug">
          <img class="imgBox" src="https://firebasestorage.googleapis.com/v0/b/cars-from-sweden.appspot.com/o/images%2F1581423889153_clipboard.png?alt=media&token=c36a289f-920f-4351-bb2a-478a983a9206" alt="">
          <p class="textBox text-danger">Чудова якість технічного обслуговування</p>
        </div>
      </div>
    </div>
  </div>
</div>
