<div class="container d-flex justify-content-center">
  <div class="upBox">
    <p class="titleUpBox">Професійна допомога в питаннях купівлі автомобілів в Швеції від компанії <b
        class="text-danger carsfromsweden">Cars.from.Sweden</b></p><br>
    <p class="aboutText">Отримати авто під замовлення з Швеції більше не проблема, адже ми надаємо комплексні послуги з
      купівлі автомобіля в Швеції. Ми:</p><br>
    <ul>
      <li>Шукаємо необхідний автомобіль.</li>
      <li>Проводимо детальний огляд.</li>
      <li>Допомагаємо з оформленням документів.</li>
      <li>Доставляємо автомобіль до кордону з Україною.</li>
    </ul><br>
    <p class="aboutText">За час нашого існування ми встигли привезти на замовлення та продати більше 100 автомобілів,
      дехто з клієнтів звертався до нас кілька разів, так як купували автомобілі для кількох членів сім'ї.</p><br>
    <img src="https://firebasestorage.googleapis.com/v0/b/cars-from-sweden.appspot.com/o/images%2F1581423889147_art.jpg?alt=media&token=4e7356ba-3373-4a7f-b513-146bf1a3a276" style="max-width: 100%;" alt=""><br>
    <p class="underImg">Також не потрібно турбуватись про стан вибраного авто. Ми виявимо всі невказані пошкодження та
      недоліки, зробимо фото та відео фіксацію, щоб ви могли бачити повну картину.</p><br>
    <p class="aboutText">Ми з задоволенням допоможемо Вам купити якісну техніку за доступною ціною, використовуючи наші
      широкі контакти з багатьма автосалонами Швеції, сайтами для купівлі автомобілів <a class="text-danger" href="https://www.blocket.se/annonser/hela_sverige/fordon/bilar?cg=1020&st=s" target="_blank">Blocket</a> та <a class="text-danger" href="https://www.bytbil.com/bil" target="_blank">Bytbil</a> і аукціонними майданчиками <a class="text-danger" target="_blank"
        href="https://www.kvd.se/auktioner">KVD</a> і <a class="text-danger" target="_blank"
        href="https://auktion.netbil.se/Home/Search?Search=&submit-button=S%C3%B6k">NETBIL</a>, а також багаторічний
      досвід роботи на європейському ринку поставок автомобілів, вантажної техніки та причепів на замовлення.</p><br>
  </div>
</div>
<div class="container2 d-flex justify-content-center">
  <div class="downBox">
    <p class="titleDownBox text-danger">Послуги які ми пропонуємо:</p><br>
    <ul>
      <li>Пошук автомобіля, відповідного потребам замовника.</li>
      <li>Перевірка історії автомобіля службами <a class="text-danger" href="https://www.carfax.se/" target="_blank">Carfax</a> та <a class="text-danger" href="https://transportstyrelsen.se/sv/vagtrafik/" target="_blank">Transport
          Styrelsen</a>.</li>
      <li>Огляд та перевірка можливих несправностей.</li>
      <li>Оформлення необхідних документів для розмитнення автомобіля в Україні.</li>
      <li>Доставка автомобіля до кордону з Україною.</li>
      <li>Консультації та допомога в розмитненні та постановці на облік.</li>
    </ul><br>
    <p class="aboutText">Хотів би відмітити важливий момент співпраці з нами. При замовленні автомобіля в якості
      передоплати ви оплачуєте нам 50% вартості автомобіля в Швеції, це основна та обов'язкова умова
      співпраці з нашою компанією.</p><br>
  </div>
</div>
<div class="bottomContainer d-flex justify-content-center">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1286.862458439593!2d24.051838353170183!3d49.82448738693831!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6a38393a937a953!2z0JHRg9C00ZbQstC10LvRjNC90LjQug!5e0!3m2!1suk!2sua!4v1572866120602!5m2!1suk!2sua"
   frameborder="0" style="border:0;" allowfullscreen=""
    style="box-shadow: 0 0 15px lightgray;"></iframe>
</div>
